{% extends 'base.html.twig' %}
{% block title %}
	{% trans %}Nouvelle reservation{% endtrans %}

{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success" role="alert">
			{{ message }}
		</div>
	{% endfor %}

	<div class="form_reponse">{{ form_start(form) }}
		<br>
		<h3 class="h4">{% trans %}Ajouter une reservation{% endtrans %}</h3>

		<table>
			<tr>
				<td>{{form_label(form.client,'Nom Client:')}}</td>
				<td>{{form_widget(form.client)}}</td>
				<td>{{form_label(form.dateReservation,'date:')}}</td>
				<td>{{form_widget(form.dateReservation)}}</td>
				<td>{{form_label(form.nbreJour,'nbre jour:')}}</td>
				<td>{{form_widget(form.nbreJour)}}</td>
			</tr>
		</table><br>
		<h3 class="h3">{% trans %}Ajouter une voiture:{% endtrans %}</h3>
		<table>
<tr>
	<td>{{form_label(form.dateDepart,'Date de Depart')}}</td>
	<td>{{ form_widget(form.dateDepart,{ 'attr': {'placeholder': "Date de Depart"} }) }}
	</td>
</tr>

			<tr>
				<td>{{form_label(form.car,'voiture:')}}</td>
				<td>{{ form_widget(form.car,{ 'attr': {'placeholder': "Choisir la voiture"} }) }}
				</td>
			</tr>

		</table>


		<button type="submit " class="b1 " style="float: right; ">{% trans %}Enregistrer{% endtrans %}</button>
		<button class="b1 " style="float: right; ">
			<a href="{{path( 'liste_reservation')}} ">{% trans %}Retour{% endtrans %}

			</a>
		</button>
		<br>{{ form_end(form) }}

		<br></div>
{% endblock %}

